<html>
   <head>
      <title>Sign up page</title>
           <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
           <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
           <script src = "controller.js"></script>
      <h1 style="width: 30%; margin-left:20px;"> Sign up here!</h1>
   <head>
   <body ng-app = "myApp" ng-controller="meController">
     <div style="width: 30%; margin-left:20px;">
      <h2>Start here:</h2>
      <form>
        FirstName: <input type = "text" ng-model = "firstname" class="form-control"><br><br>
        LastName: <input type = "text" ng-model = "lastname" class="form-control"><br><br>
        Sex: <input type = "radio" ng-model = "sex" value = "Female"> Female
                <input type = "radio" ng-model = "sex" value ="Male">Male<br><br>
        Street: <input type = "text" ng-model = "street" class="form-control"><br><br>
        City: <input type = "text" ng-model = "city" class="form-control"><br><br>
        State: <select name = "state" ng-model = "state" class="form-control">
               <option value = "Alaska">Alaska</option>
               <option value = "Arizona">Arizona</option>
               <option value = "California">California</option>
               <option value = "Florida">Florida</option>
               <option value = "Indiana">Indiana</option>
               <option value = "Michigan">Michigan</option>
               <option value = "Nevada">Nevada</option>
               <option value = "New York">New York</option>
               </select>
        <br><br>
        Zipcode: <input type = "number" ng-model = "zipcode" class="form-control"><br><br>
        E-mail: <input type = "email" ng-model = "email" class="form-control"><br><br>
        BirthDate: <input type = "date" ng-model = "birthday" class="form-control"><br><br>
        <button ng-click="submit()" class="btn btn-primary">Submit</button>
        <button ng-click="cancel()" class="btn btn-primary" style="margin-left: 50px">Cancel</button><br><br><br>
    </form>
    <div>
          <textarea class="form-control" rows="5">{{ res|json }}</textarea>
    </div>
   </div>
  </body>
</html>
